.dashboard_container .side_nav_container {
  background: #0f123f;
}
.dashboard_container .side_nav_container .profile_info_container img {
  height: 50px;
}

.dashboard_container .side_nav_container .sidenav_links_info_container img {
  height: 25px;
}

.dashboard_container .side_nav_container .sidenav_links_info_container img {
  height: 25px;
}

.dashboard_container
  .side_nav_container
  .sidenav_links_info_container
  .active_link {
  background: #4349a9;
  border-radius: 8px;
}

.dashboard_container
  .side_nav_container
  .sidenav_links_info_container
  .links_text_container:hover
  ~ .inActive_link {
  background: #4349a9;
  border-radius: 8px;
}
.dashboard_container
  .side_nav_container
  .sidenav_links_info_container
  .inActive_link:hover {
  background: #4349a9;
  border-radius: 8px;
}

.dashboard_container .right_side_section_container {
  border-top: 12px solid #0f123f;
  border-bottom: 12px solid #0f123f;
  border-right: 12px solid #0f123f;
}
@media (max-width: 991px) and (min-width: 320px) {
  .dashboard_container .right_side_section_container {
    border-top: none;
    border-bottom: none;
    border-right: none;
  }
}
.dashboard_container .right_side_section_container .background_clr_sections {
  background: #f0eff5;
  height: 100%;
}
@media (max-width: 991px) and (min-width: 320px) {
  .dashboard_container .right_side_section_container .background_clr_sections {
    background: #333269 !important;
  }
}

.dashboard_container .react-multi-carousel-list {
  padding: 20px 10px;
}
.dashboard_container .add_card_header .left_info img {
  height: 22px;
}
.dashboard_container .overview_section_container .single_overview_box {
  width: 48%;
}
.dashboard_container .left_side_component_width {
  width: 67%;
}
.dashboard_container .right_side_component_width {
  width: 30%;
}
@media (max-width: 991px) and (min-width: 320px) {
  .dashboard_container .left_side_component_width {
    width: 100%;
  }
  .dashboard_container .right_side_component_width {
    width: 100%;
  }
}
@media (max-width: 991px) and (min-width: 320px) {
  .dashboard_container .overview_section_container .single_overview_box {
    width: 100%;
  }
}
.dashboard_container .responsive_dashboard_container {
  background: #333269;
  padding: 10px;
}
.dashboard_container .responsive_dashboard_container .hamburger_container {
  display: flex;
  align-items: center;
}
.dashboard_container .responsive_dashboard_container .logo_container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.dashboard_container .responsive_dashboard_container .logo_container img {
  height: 50px;
}

/* SideNavigation */
.dashboard_sidenav_links .das_sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.dashboard_sidenav_links .das_sidenav h6 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.dashboard_sidenav_links .das_sidenav h6:hover {
  color: #f1f1f1;
}

.dashboard_sidenav_links .das_sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .dashboard_sidenav_links .das_sidenav {
    padding-top: 15px;
  }
  .dashboard_sidenav_links .das_sidenav h6 {
    font-size: 18px;
  }
}
